<div class="modal fade" tabindex="-1" id="download-form" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Download Data</h4>
            </div>
            <div class="modal-body">
                <p>Before you download the data, please insert your contact details:</p>
                <div class="form-group">
                    <label for="first-name">Name</label>
                    <input type="text" class="form-control" ng-model="dwFormFirstName" id="first-name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="last-name">Last name</label>
                    <input type="text" class="form-control" ng-model="dwFormLastName" id="last-name" placeholder="Last name">
                </div>
                <div class="form-group">
                    <label for="email-address">Email address</label>
                    <input type="email" class="form-control" ng-model="dwFormEmail" id="email-address" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="organization">Organization <small style="color: gray">(optional)</small></label>
                    <input type="text" class="form-control" ng-model="dwFormOrganization" id="organization" placeholder="Organization">
                </div>
                <div class="form-group">
                    <label for="notes">Notes <small style="color: gray">(optional)</small></label>
                    <textarea class="form-control" ng-model="dwFormNotes" id="notes" placeholder="Notes"></textarea>
                </div>

                <div class="form-group">
                    <div ng-style="{'color': dwFormMessageColor}">{{dwFormMessage}}</div>
                </div>

            </div>
            <div class="modal-footer">
                Download: &nbsp;
                <button type="button" class="btn btn-default" ng-click="download('json')">JSON</button>
                <button type="button" class="btn btn-default" ng-click="download('csv')">CSV</button>
            </div>
        </div>
    </div>
</div>