<div class="generator-daterange">

    <table>
        <tr>
            <td>
                <label>From:</label>
            </td>
            <td>
                <div class="input-box-container">
                    <input type="date" ng-model="selectedFromDate" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>To:</label>
            </td>
            <td>
                <div class="input-box-container">
                    <input type="date" ng-model="selectedToDate" />
                </div>
            </td>
        </tr>
    </table>

</div>